.container {
    padding-top: 60px;
    font-family: 'Hind Siliguri', sans-serif;
    position: relative;
}

p, h3 {
    color: white
}

.img-fluid {
    height: 250px;
    border-radius: 25px;
}

.row {
    justify-content: center;
}

.prof {
    text-align: center;
    justify-content: center;
    content-align: center;
}

.icons {
    color: white;
    padding: 30px;
    font-size: 75px;
    margin-top: 30px;
}