.container {
    padding-top: 60px;
    font-family: 'Hind Siliguri', sans-serif;
    position: relative;
    padding-bottom: 15px;
}

p, h3 {
    color: white
}

.img-fluid {
    height: 250px;
    border-radius: 25px;
}

.row {
    justify-content: center;
}

.prof {
    text-align: center;
    justify-content: center;
    content-align: center;
}

.icons {
    color: white;
    padding: 15px;
    font-size: 75px;
    margin: 18px;
    border: 1px solid rgb(199, 235, 247);
    border-radius: 5px;
}
