.title {
  color: white;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  padding-top: 15px;
}

.navv {
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}
.navv:hover {
  color: rgb(195, 178, 243);
}

nav {
  text-align: center;
}