.title {
  color: white;
  text-align: center;
}

.navv {
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: white;
}
.navv:hover {
  color: rgb(195, 178, 243)
}

nav {
  text-align: center;
}